@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary-font : 'Inter', sans-serif;

$primary-color: #1B3D51;
$secondary-color: #57C5C5;
$terniary-color:  #E8F1F1;


$border-color: #E8F1F1;
